---
title: Metric Store
owner: Log Cache
---

## <a id='about'></a> About Metric Store

Metric Store provides a persistent storage layer for metrics sent through the Loggregator subsystem. It is multi-tenant aware (the auth proxy ensures that you only have access to metrics from your apps), easy to query (it is compatible with the [PromQL](https://prometheus.io/docs/prometheus/latest/querying/basics/)), and has a powerful storage engine (the [InfluxDB storage engine](https://docs.influxdata.com/influxdb) has built-in compression and a memory-efficient series index).

- **Multi-tenant aware** Application Developers have access to their own metrics.
- **Ubiquitous Query Language** Metric Store is compatible with PromQL and Prometheus API Query endpoints.
- **Powerful Storage Engine** The InfluxDB storage engine has built-in compression and a memory-efficient series index.

Metric Store offers multi-node deployments, data replication, hinted handoff, and load balancing in a highly-available configuration.

### <a id='oss-metric-store'></a> More Information on Open Source Metric Store

- [Open Source Release Blog post](https://content.pivotal.io/blog/metric-store-a-cloud-native-time-series-database-for-cloud-foundry)
- [Open Source README](https://github.com/cloudfoundry/metric-store-release/blob/develop/README.md)

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about Metric Store.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.3.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 19, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.6.x, v2.7.x, v2.8.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.6.x, v2.7.x, v2.8.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and vSphere</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

Metric Store has the following limitations:

- Horizontally scaling Metric Store currently results in data loss. Vertical scaling is recommended at this time.
