---
title: PCF Metric Store
owner: Log Cache
---

## <a id='about'></a> About PCF Metric Store

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information for PCF Metric Store.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td></td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td></td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td></td>
    </tr>
     <tr>
        <td>Compatible Pivotal Cloud Foundry Event Alerts version(s)</td>
        <td></td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td></td>
    </tr>
    <tr>
        <td>Browser support</td>
        <td></td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td></td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

PCF Metric Store has the following limitations: