---
title: Metric Store
owner: Log Cache
---

## <a id='about'></a> About Metric Store

Metric Store provides a persistent storage layer for metrics sent through the Loggregator subsystem.
It is multi-tenant-aware, because the auth proxy ensures that you only have access to metrics from your
apps, and easy to query because it's compatible with
[PromQL](https://prometheus.io/docs/prometheus/latest/querying/basics/).
It also has the powerful [InfluxDB storage engine](https://docs.influxdata.com/influxdb), which
has built-in compression and a memory-efficient series index.

- **Multi-tenant aware:** Application Developers have access to their own metrics.
- **Ubiquitous Query Language:** Metric Store is compatible with PromQL and Prometheus API Query endpoints.
- **Powerful Storage Engine:** The InfluxDB storage engine has built-in compression and a memory-efficient series index.

Metric Store offers multi-node deployments, data replication, hinted handoff, and load balancing in
a highly-available configuration.

> **Note:** The only officially supported use case for the Metric Store product is as the backing
> Time Series Database for [App Metrics v2.0](https://docs.pivotal.io/app-metrics/2-0/)
> and the [TAS v2.9 and later Apps Manager](https://docs.pivotal.io/platform/application-service/2-9/console/index.html).
> Use cases outside of these bounds have no guarantee of continued support or availability.

### <a id='oss-metric-store'></a> More Information on Open Source Metric Store

- [Open Source Release Blog post](https://content.pivotal.io/blog/metric-store-a-cloud-native-time-series-database-for-cloud-foundry)
- [Open Source README](https://github.com/cloudfoundry/metric-store-release/blob/develop/README.md)

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about Metric Store.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 16, 2022</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>v2.6 and later</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Service versions</td>
        <td>v2.7.x, v2.8.x, v2.9.x, 2.10.x, 2.11.x, 2.12.x, 2.13.x, 3.0.x, 4.0.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and vSphere</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

Metric Store has the following limitations:

- Horizontally scaling Metric Store currently results in data loss.
  Vertical scaling is recommended at this time.
- Platforms are ever changing and we cannot guarantee metric stability.
  Using Metric Store through products such as [App Metrics](https://docs.pivotal.io/app-metrics/2-0/)
  or [Apps Manager](https://docs.pivotal.io/platform/application-service/2-9/console/index.html)
  will be supported use cases.
  When using Metric Store manually through endpoints, the user must be aware of changes through
  Platform upgrades.
