---
title: Installing Metric Store
owner: Log Cache
---

This topic describes how to install Metric Store.

## <a id='prerequisites'></a> Prerequisites

For a list of compatible Ops Manager and Pivotal Application Service (PAS) versions, see [Product Snapshot](index.html#snapshot).

## <a id='install'></a> Install Metric Store

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/app-metrics-store-pcf/).
1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.
1. Under the **Import a Product** button, click **+** next to the version number of Metric Store. This adds the tile to your staging area.

### <a id='network-configuration'></a> Create a Network

If you do not want to use an existing network for Metric Store, you can create a new network by following these steps:

1. Click the **Ops Manager Director** tile on the Ops Manager Installation Dashboard.
   ![alt-text="Screenshot of Installation Dashboard in Ops Manager showing tiles of various apps. An arrow points to the tile labeled Bosh Director for GCP."](./images/open-bosh-director.png)
1. Navigate to **Create Networks** and click **Add Network**.
   ![alt-text="Screenshot of Bosh Director for GCP page in Ops Manager. Create Networks is highlighted on left nav, and an arrow points to the Add Network button."](./images/add-network-bosh-director.png)
1. In the **Name** text box, enter a name for the service network.
1. Enter the network details.
  ![alt-text="Screenshot of online form to fill in. Fields include Name, Google Network Name, CIDR, Reserved IP Ranges, DNS, and Gateway. An arrow points to the Save button."](./images/save-network-bosh-director.png)
1. Click **Save**.

### <a id='tile-configuration'></a> Configure the Metric Store Tile

To configure the Metric Store tile, perform the following steps:

1. Click the **Metric Store** tile on the Ops Manager Installation Dashboard.
   ![alt-text="Screenshot of Installation Dashboard in Ops Manager showing tiles of various apps. An arrow points to the tile labeled Metric Store."](./images/open-metric-store-tile.png)
1. Navigate to **Assign AZs and Networks**.
1. Select an Availability Zone (AZ) for placing singleton jobs.
1. Select one or more AZs for balancing other jobs. To create a highly available environment, VMware recommends selecting multiple AZs.
1. Select **Network** for installing Metric Store.
  ![alt-text="Screenshot of Metric Store page in Ops Manager with the Settings tab open and Assign AZs and Networks highlighted on left nav.Three Radial buttons AZ options under the heading Place singleton jobs in AZ and 3 check-box options under Balance other jobs in AZs. Arrow points to Save button."](./images/save-metric-store-network.png)
1. Click **Save**.


### <a id='tile-resources'></a> Metric Store Resources

You can configure Metric Store resources in the **Resource Config** section of the Metric Store tile.
By default, Metric Store configuration is pre-selected for all deployments.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
    <th>Static IP</th>
    <th>Dynamic IP</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Metric Store</td>
    <td>3</td>
    <td>4</td>
    <td>32&nbsp;GB</td>
    <td>30&nbsp;GB</td>
    <td>250&nbsp;GB</td>
    <td>0</td>
    <td>1</td>
  </tr>
  </tbody>
</table>


### <a id='verifying'></a> Verifying installation of Metric Store

Please see the Authorization and Authentication section of the topic [Using Metric Store](using.html#authorization-authentication).
