---
title: Monitoring PCF Metric Store
owner: Log Cache
---

This topic describes how to monitor PCF Metric Store. It includes key scaling indicators (KSIs) to guide PCF Metric Store scaling decisions.

## <a id='overview'></a> Overview

## <a id='ksi'></a> Key Scaling Indicators