---
title: Metric Store Release Notes
owner: Log Cache
---

This topic describes the changes in this minor release of Metric Store.

## <a id='v1-6-1'></a> v1.6.1

**Release Date:** 04 March 2024

### Dependencies

Dependencies updated in this release:

- **golang:** Updated to  1.20.14
- **bpm-release:** Updated to v1.2.15
- **routing-release:** Updated to v0.289.0

### Features

New features and changes in this release:

- **Added support for NATS TLS**
- **[Security Fix]** Dependency updates address critical CVEs. For more information about critical CVEs, see
    [CVE-2022-28357](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-28357),
    [CVE-2023-24538](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-24538),
    [CVE-2023-24540](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-24540),
    [CVE-2023-29402](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-29402) and
    [CVE-2023-29405](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-29405)

### Known Issues

There are no known issues for this release.

## <a id='v1-6-0'></a> v1.6.0

**Release Date:** 23 May 2023

### Dependencies

Dependencies updated in this release:

- **golang:** Updated to v1.20.4
- **routing-release:** Updated to v0.262.0
- **bpm-release:** Updated to v1.1.23
- **Prometheus:** Updated to v0.2.42
- **Stemcell:** Changed Stemcell from Ubuntu Xenial to Ubuntu Jammy

### Features

New features and changes in this release:

- **Added the new configuration setting Enable Envelope Selector:**

  - If enabled, only envelopes with application metric tags, such as `app_id` and `applicationGuid`, are kept.
  - Added the corresponding `metric_store_nozzle_skipped_envelopes_by_tag_total` metric.
    For more information, see [Nozzle Job Metrics](monitoring.html#nozzle-metrics).
  - You can configure **Enable Envelope Selector** in Ops Manager.

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from drop-down menu at the top of
this page.
