---
title: Metric Store Release Notes
owner: Log Cache
---
## <a id='v1.3.0'></a> v1.3.0

**Release Date:** March XX, 2020

* Replication is now Availability Zone aware. **Note** for those upgrading from Beta versions this will cause a loss in metrics.
* Updated our CA properties to help customers rotate both their Ops Manager and CredHub stored certificates.
* Updated read sample limit to 20,000,000.

## <a id='v0.3.0'></a> v0.3.0 (Beta)

**Release Date:** November 19, 2019

* Introduced `http_total` metrics and `http_duration_seconds_*` histogram for request latency.
* Fixed `metric_storage_duration_days` to report 0 when there is no data.
* Fixed degraded query performance on large points (>500,000).

## <a id='v0.2.0'></a> v0.2.0 (Beta)

**Release Date:** July 9, 2019

### <a id='features'></a> Features

[See Overview](index.html#about)

### <a id='known-issues'></a> Known Issues

This release has the following known issues.
