---
title: Metric Store Release Notes
owner: Log Cache
---

## <a id='v1.6.0'></a> v1.6.0

**Release Date:** May 18, 2023
- Updated Golang version to 1.20.4
- Updated routing-release to 0.262.0
- Updated bpm-release to 1.1.23
- Updated Prometheus Version to 0.2.42
- Changed Stemcell from Ubuntu Xenial to Ubuntu Jammy.
- Added optional functionality `Enable Envelope Selector`
  - If enabled, only envelopes with application metric tags(app_id, applicationGuid) will be kept.
  - Added corresponding [metric_store_nozzle_skipped_envelopes_by_tag_total](monitoring.html) metric.
- The `Enable Envelope Selector` is configurable from Ops Manager

## <a id='v1.5.5'></a> v1.5.5

**Release Date:** August 16, 2022

- Updated golang to v1.17.8
- Updated routing-release to 0.232.0
- Fixed issue where Metric Store was unable to remove a shard marked as pending to remove
  while new points were being written to the shard.

## <a id='v1.5.4'></a> v1.5.4

**Release Date:** November 19, 2021

Added support for TAS v2.12.

## <a id='v1.5.3'></a> v1.5.3

**Release Date:** September 15, 2021

- Fixed issue where the charts were not loading when the `doppler.firehose` was not in scope.
- Updated InfluxDb to v1.8.5

## <a id='v1.5.2'></a> v1.5.2

**Release Date:** February 10, 2021

Use Ops Manager as the CA for all certificates to facilitate easier certificate rotation on
Metric Store nodes.

## <a id='v1.5.1'></a> v1.5.1

**Release Date:** November 18, 2020

- Replication factor defaulted to 2.
  - This doubles previous storage requirements because metrics going forward are replicated across
    nodes.
  - Metrics stored before this upgrade continue to exist, but only on a single node.
    This causes inconsistent query results for non-replicated metrics, depending on which node
    is queried.
- Include and use route registration health check.
- The `replication factor` is configurable from Ops Manager
- The `max concurrent queries` is configurable from Ops Manager
- Updated tile internal certificates to include missing SANs. These certificates are regenerated
  automatically.

## <a id='v1.4.5'></a> v1.4.5

**Release Date:** February 10, 2020

Use Ops Manager as the CA for all certificates to facilitate easier certificate rotation on
Metric Store nodes.

## <a id='v1.4.4'></a> v1.4.4

**Release Date:** September 29, 2020

- Fixed issue where Metric Store was intermittently dropping points between nodes
- Added instance_id label to http_* metrics
- Removed empty errand `metric-store-smoke-tests`

## <a id='v1.4.3'></a> v1.4.3

**Release Date:** August 17, 2020

- This release fixes a memory leak that caused Metric Store to slowly run out of memory because of
  not cleaning up closed network connection go routines.
- Updated debug and metrics endpoints to be on different ports.
- Updated golang to v1.13.12 and Prometheus to v2.19.1.

### <a id='known-issues'></a> Known Issues

* Some users have seen points dropped when metrics are transferred between nodes.

## <a id='v1.4.2'></a> v1.4.2

**Release Date:** April 28, 2020

Resolves issue with `http_total` metric to include correct `node_index` label value.

### <a id='known-issues'></a> Known Issues

Some users have seen points dropped when metrics are transferred between nodes.

## <a id='v1.4.1'></a> v1.4.1

**Release Date:** April 27, 2020

- Updated the `opsmanager_syslog` property to true to allow operators to egress logs to a syslog destination.

### <a id='known-issues'></a> Known Issues

This release has an issue in the `http_total` metric when the Metric Store is running on multiple nodes.
Metric Store incorrectly tracks a label `node_index` value as 0 as opposed to the true node index.
Resolved release v1.4.2.

## <a id='v1.4.0'></a> v1.4.0

**Release Date:** March 31, 2020

- Replication now detects availability zones (AZ). For those upgrading from beta versions, this causes
  a loss in metrics.
- Updated our CA properties to help users rotate both their Ops Manager and CredHub stored certificates.
- Updated read sample limit to 20,000,000. This was previously set to 1,000,000.
- Removed PromScraper to inject Metric Store metrics into Firehose.
  - Scraping Metric Store Prometheus endpoint by means of mTLS.

### <a id='known-issues'></a> Known Issues

This release has an issue in the `http_total` metric when the Metric Store is running on multiple nodes.
Metric Store incorrectly tracks a label `node_index` value as `0` as opposed to the true node index.
Resolved in v1.4.2.

## <a id='v0.3.0'></a> v0.3.0 (Beta)

**Release Date:** November 19, 2019

- Introduced `http_total` metrics and `http_duration_seconds_*` histogram for request latency.
- Fixed `metric_storage_duration_days` to report 0 when there is no data.
- Fixed degraded query performance when there are more than 500,000 points.

## <a id='v0.2.0'></a> v0.2.0 (Beta)

**Release Date:** July 9, 2019

### <a id='features'></a> Features

[See Overview](index.html#about)

### <a id='known-issues'></a> Known Issues

This release has the following known issues.
