---
title: PCF Metric Store Release Notes
owner: Log Cache
---

## <a id='v0.2.0'></a> v0.2.0 (Beta)

**Release Date:** June x, 2019

### <a id='features'></a> Features

[See Overview](index.html#about)

### <a id='known-issues'></a> Known Issues

This release has the following known issues.
