---
title: Metric Store Release Notes
owner: Log Cache
---

## <a id='v1.4.5'></a> v1.4.5

**Release Date:** February 10, 2021

* Use Ops Manager as the CA for all certificates to facilitate easier certificate rotation on Metric Store nodes.

## <a id='v1.4.4'></a> v1.4.4

**Release Date:** September 29, 2020

* Fixed bug where Metric Store was intermittently dropping points between nodes
* Added instance_id label to http_* metrics
* Removed empty errand `metric-store-smoke-tests`

## <a id='v1.4.3'></a> v1.4.3

**Release Date:** August 17, 2020

* This release fixes a memory leak that would cause the Metric Store to slowly run out of memory due to not cleaning up closed network connection go routines.
* Updated debug and metrics endpoints to be on different ports.
* Updated Golang to 1.13.12 and Prometheus to 2.19.1.

### <a id='known-issues'></a> Known Issues
* Found in 1.4.2, some customers are experience points being dropped when metrics are transferred between nodes.

## <a id='v1.4.2'></a> v1.4.2

**Release Date:** April 28, 2020

* Resolves issue with `http_total` metric to include correct `node_index` label value.

### <a id='known-issues'></a> Known Issues
* Found in 1.4.2, some customers are experience points being dropped when metrics are transferred between nodes.

## <a id='v1.4.1'></a> v1.4.1

**Release Date:** April 27, 2020

* Updated the `opsmanager_syslog` property to true to allow operators to egress logs to a syslog destination.

### <a id='known-issues'></a> Known Issues

This release has a bug in the `http_total` metric when the Metric Store is running on multiple nodes. Metric Store incorrectly tracks a label `node_index` value as 0 as opposed to the true node index. Resolved release 1.4.2.


## <a id='v1.4.0'></a> v1.4.0

**Release Date:** March 31, 2020

* Replication is now Availability Zone aware. **Note** for those upgrading from Beta versions this will cause a loss in metrics.
* Updated our CA properties to help customers rotate both their Ops Manager and CredHub stored certificates.
* Updated read sample limit to 20,000,000, previously set to 1,000,000.
* Removed PromScraper to inject Metric Store metrics into Firehose.
  * Scraping Metric Store Prometheus endpoint via mTLS.

### <a id='known-issues'></a> Known Issues

This release has a bug in the `http_total` metric when the Metric Store is running on multiple nodes. Metric Store incorrectly tracks a label `node_index` value as 0 as opposed to the true node index.  Resolved release 1.4.2.

## <a id='v0.3.0'></a> v0.3.0 (Beta)

**Release Date:** November 19, 2019

* Introduced `http_total` metrics and `http_duration_seconds_*` histogram for request latency.
* Fixed `metric_storage_duration_days` to report 0 when there is no data.
* Fixed degraded query performance on large points (>500,000).

## <a id='v0.2.0'></a> v0.2.0 (Beta)

**Release Date:** July 9, 2019

### <a id='features'></a> Features

[See Overview](index.html#about)

### <a id='known-issues'></a> Known Issues

This release has the following known issues.
